.git
.github
.vscode
.idea
node_modules
dist
dist-ssr
logs
*.log
src-tauri/target
target
src-tauri/.tauri
src-tauri/gen/android/.gradle
src-tauri/gen/android/**/build
src-tauri/gen/android/**/.cxx
src-tauri/gen/android/**/.externalNativeBuild
src-tauri/gen/android/app/src/main/assets
.docker-marinara-data

